<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>8-Bit Inventory</title>
    <link rel="stylesheet" href="css/master.css">
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/8bitInventory.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>8-Bit Inventory</h1>
    <div id='left-section'>

      <div id="search">
        <h2>Search Items</h2>
        <div id="searchOptions">
          <h3>by name</h3>
          <h3>|</h3>
          <h3>by type</h3>
        </div>
        <input type="text" id="nameOption" placeholder="item name" />

        <h3>-- or --</h3>

          <select id="colorOption">  </select>
          <br><select id="sizeOption">  </select>
          <br><br><button id="searchitems" >Search</button>
      </div>

      <div id="add">
        <h2>Add Item</h2>
        <input type="text"  id='nameIn' placeholder="item name" />
        <!-- <input type="text" id='colorIn' placeholder="item color" />
        <input type="text" id='sizeIn' placeholder="item size" /> -->
        <br><select id='colorIn'>  </select>
        <br><select id='sizeIn'>  </select>
        <br><br><button id="sellItem" >Submit</button>
      </div>

      <div id="delete">
        <h2>Delete Item</h2>
        <input type="text" id='deleteName' placeholder="item name" />
        <br><br><button id="deleteItems" >Delete</button>
      </div>
  </div>

  <div id="right-section">
    <div class="searchResults"></div>

    <div class="inventory">
      <h2>Items in Inventory</h2>
      <div id="outputText"></div>
    </div>
  </div>

  </body>
</html>
