<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>8-Bit Inventory</title>
    <link rel="stylesheet" href="css/master.css">
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/8bitInventory.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>8-Bit Inventory</h1>
    <div id='left-section'>

      <div id="search">
        <h2>Search Items</h2>
        <div id="searchOptions">
          <h3 class="searchBy" name="type" >by type</h3>
          <h3>|</h3>
          <h3 class="searchBy notSelectedOption" name="name" >by name</h3>
        </div>

        <p class="errorMessage" id="errorNameOption"></p>
        <select id="colorOption">  </select>
        <p class="errorMessage" id="errorSizeOption"></p>
        <select id="sizeOption">  </select>

        <p class="errorMessage" id="errorNameOption"></p>
        <input type="text" id="nameOption" placeholder="item name" />
        <p></p>
        <button id="searchItems" data="type" >Search</button>
      </div>

      <div id="add">
        <h2>Add Item</h2>
        <p class="errorMessage" id="errorNameIn"></p>
        <input type="text"  id='nameIn' placeholder="item name" />
        <!-- <input type="text" id='colorIn' placeholder="item color" />
        <input type="text" id='sizeIn' placeholder="item size" /> -->
        <br>
        <p class="errorMessage" id="errorColorIn"></p>
        <select id='colorIn'>  </select>
        <br>
        <p class="errorMessage" id="errorSizeIn"></p>
        <select id='sizeIn'>  </select>
        <br><br>
        <button id="addItem" >Submit</button>
      </div>

      <div id="delete">
        <h2>Delete Item</h2>
        <p class="errorMessage" id="errorDeleteName"></p>
        <!-- <input type="text" id='deleteName' placeholder="item name" /> -->
        <select id='deleteName'>  </select>
        <br><br><button id="deleteItems" >Delete</button>
      </div>
  </div>

  <div id="right-section">
    <div class="searchResults"></div>

    <div class="inventory">
      <h2>Items in Inventory</h2>
      <div id="outputText"></div>
    </div>
  </div>

  </body>
</html>
