html, body {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}

html {
  min-width: 810px;
}

body {
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: -5px 0 ;
  padding: 30px 0 35px 55px;
  text-align: left;
  color: white;
  background-color: #303f9f;
}

#left-section {
  float: left;
  box-sizing: border-box;
  width: 30%;
  min-width: 244px;
  background-color: #dddddd;
  border: white solid 20px;
  padding-bottom: 30px;
  position: fixed;
}

#right-section {
  float: right;
  box-sizing: border-box;
  width: 70%;
  border: white solid 20px;
  color: white;
}

#search, #add {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 80%;
  border-bottom: 1px solid black;
}

.inventory {
  background-color: #aaaaaa;
  padding: 10px 0;
}

.searchResults {
  padding: 10px 0;
  background-color: #888888;
  margin-bottom: 35px;
}

img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border: 3px solid white;
}

.itemImg {
  width: 100px;
  padding-right: 25px;
  border-right: 1px solid #dddddd;
}

.item {
  display: flex;
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px solid grey;
}

.item p {
  margin-left: 10px;
  line-height: 10px;
  color: black;
  font-size: 12px;
}

.item .itemName {
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 250px;
}

.item .itemCreated {
  position: relative;
  top: 68px;
}

.item:last-child {
  border: none;
}

.options {
  display: inline-flex;
  color: black;

}

h3 {
  margin: 10px 3px;
  font-size: 15px;

}

.notSelectedOption {
  color: white;
}

.notSelectedOption:hover {
  color: blue;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin-bottom: 1px;
}

ul {
  text-align: left;
}

h2 {
  margin: 30px 0 6px ;
  color: black;
}

#getImages {
  font-size: 12px;
  text-decoration: underline;
}

#getImages:hover {
  color: white;
}

#picOptions {
  display: none;
  position: fixed;
  bottom: 0;
  left: 5%;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#picOptions img {
  margin: 1rem;
}

.selectImg:hover {
  border: 3px solid blue;
}
